label{
    padding: 2px 2px;
    margin-top: 3px;
}
input, select{
    margin-top: 15px;
    width: 200px; 
    height: 20px;
    border: 1px solid black;
}
select{
    margin-top: 15px;
    width: 200px; 
    height: 25px;
    border: 1px solid black;
}

